WCF_Example/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfCalculationLib" />
  <xs:element name="SumMatrixes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="inputMatrixes" nillable="true" type="q1:InputMatrixes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumMatrixesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfCalculationLib" minOccurs="0" name="SumMatrixesResult" nillable="true" type="q2:OutputMatrixes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>