WCF_Example/Service References/ServiceReference1/WcfCalculationLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfCalculationLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfCalculationLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="InputMatrixes">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Mass_a" nillable="true" type="q1:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputMatrixes" nillable="true" type="tns:InputMatrixes" />
  <xs:complexType name="OutputMatrixes">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Mass_summ" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputMatrixes" nillable="true" type="tns:OutputMatrixes" />
</xs:schema>